<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Регистрация в мультитаймере</title>
        <link href="styles/main.css" rel="stylesheet">
        <link href="styles/normalize.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <!-- Начало: Модальное окно таймера -->
        <div class="timerModal" id="timerModal">
            <p @click="InvBoolean" :class="[isActive ? 'inputModalDisabled' : 'inputModalActive']" id="timerModalName">{{ timername }}</p> <!--<button @click="InvBoolean()" class="buttonModal buttonModalEditname">Появись</button>-->
           <input id="inputName" v-on:keyup.enter="InvBoolean(); InvSave();" v-model="timername" :class="[isActive ? 'inputModalActive' : 'inputModalDisabled', 'inputModal']">
           <label :class="[isActive ? 'inputModalActive' : 'inputModalDisabled', 'lblInputModal']" for="inputName">Нажмите «Enter» для сохранения</label>
         
           <div class="timerTypeBlock">
                <div class="timerTypeSection right">Таймер</div>
               <div class="timerTypeSection">
           <label class="switch">
                <input type="checkbox" v-model="typeTimer">
                <span class="slider round"></span>
              </label>
              </div>
              <div class="timerTypeSection left">Countdown</div>
        </div>
        <div class="timerText">
            <span @click="InvTextTimerH" :class="[ActiveTextTimerH ? 'inputModalDisabled' : 'inputModalActive']">{{hText}}</span><input @blur="InvTextTimerH()" id="hour" type="number" v-model="h" :class="[ActiveTextTimerH ? 'inputModalActive' : 'inputModalDisabled']" class="timerTextInput">:<span @click="InvTextTimerM" :class="[ActiveTextTimerM ? 'inputModalDisabled' : 'inputModalActive']">{{mText}}</span><input maxlength="2" @blur="InvTextTimerM()" id="min" v-model="m" :class="[ActiveTextTimerM ? 'inputModalActive' : 'inputModalDisabled']" class="timerTextInput">:<span @click="InvTextTimerS" :class="[ActiveTextTimerS ? 'inputModalDisabled' : 'inputModalActive']">{{sText}}</span><input maxlength="2" @blur="InvTextTimerS()" id="sec" v-model="s" :class="[ActiveTextTimerS ? 'inputModalActive' : 'inputModalDisabled']" class="timerTextInput">
        </div>
        <div class="btnModalSection">
        <button @click="timerType()" class="buttonModal">{{ buttonname }}</button>
    </div>
    </div>
    <!-- Конец: Модальное окно таймера -->
    
            <ul class="timerGrid">
    
            </ul> 
    <div onclick="OpenModalNewTimer()" id="newtimerButton"></div>
    <script src="scripts/main.js"></script>
    </body>
</html>