/* Оптимизировано только для Chrome*/

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic');
body { font-family: 'Roboto', sans-serif; color: #000;}
*:focus {outline: none;}
#newtimerButton {
position: absolute;
width: 130px;
height: 130px;
left: -20px;
top: -30px;
background: #00FFA3;
border-radius: 130px;
cursor: pointer;
/**/
text-align: center;
line-height: 130px;
}
#newtimerButton:before {
    font-size: 50px;
   /* position: relative;
    left: 55px;
    top: 45px; */
    content: '+';
    font-weight: 200;
}
#newtimerButton:hover {
background: rgb(0, 179, 113); 
}
.timerModal {
display: none; /* Временно прячем */
position: absolute;
width: 470px;
right: calc(50vw - 275px);
top: 10%;
background: #FEFEFE;
box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
border-radius: 10px;
padding: 50px 50px;
}
#timerModalName {
    font-size: 50px; 
    cursor: pointer;
}
#timerModalName:hover {
    text-decoration: underline;
    color: #303030;
}
.btnModalSection {
    text-align: center;
    margin-top: 20px; 
}
.buttonModal {
background: #0075FF;
border: 1px solid #F5F5F5;
box-sizing: border-box;
border-radius: 5px;
padding: 0px 30px;
font-size: 24px;
color: #fff;
cursor: pointer;
height: 50px;
display: inline-block;
}
.buttonModal:hover {
    background: rgb(0, 78, 167);
}
.inputModal {
    background: #F7F7F7;
border: 1px solid #F5F5F5;
border-radius: 5px;
height: 50px;
font-size: 24px;
padding: 0px 30px;
width: calc(100% - 60px);
max-width: 400px;
}
.inputModalActive {
display: inline;
}
.inputModalDisabled {
    display: none;
}
.lblInputModal {
    margin-left: 32px;
    line-height: 40px;
    color: #6d6d6d;
}





.switch {
    position: relative;
    display: inline-block;
    width: 156px;
    height: 50px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F7F7F7;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 42px;
    width: 42px;
    left: 4px;
    bottom: 4px;
    background-color: #00FFA3;
    transition: .4s;
  }
  
  input:checked + .slider:before  {
    background-color: #FF0000;
  }
  
  
  input:checked + .slider:before {
    transform: translateX(106px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.timerTypeBlock {
    width: 100%;
    margin-top: 20px;
}
  .timerTypeSection {
      display: inline;
      vertical-align: middle;
      font-size: 30px;
  }
  .right, .left {
      position: relative;
      top: 5px;
  }
  .right {
      text-align: right;
      padding-right: 20px;
  }
  .left {
      text-align: left;
      padding-left: 20px;
  }
  .timerText, .timerGridStyle {
      font-size: 50px;
      margin-top: 40px;
  }
  .timerText {
    text-align: center;
  }
  .timerTextInput {
    width: 56px;
    height: 54px;
  }
/* Убираем стрелки для тайп намбер и наводим красоту */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: none;
  }
  input[type="number"]:hover,
  input[type="number"]:focus {
    -moz-appearance: none;
  }
  input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Убираем стрелки для тайп намбер и наводим красоту */

.timerGrid li {
  display: inline-block;
  list-style-type: none;
}
.timerGrid {
  margin: auto;
  width: 750px;
  padding: 0 0 0 30px;
}
.timerGrid li:nth-child(even) {
  float: right;
}
.timerGridName {
  margin: 0 15px;
  width: 140px;
  display: inline-block;
  text-align: left;
}
.timerGridStyle {
  width: 195px;
}
@media (max-width: 768px) {
  .timerGrid li:nth-child(even) {
    float: none;
  }
  .timerGrid {
    width: 370px;
  }
}
@media (min-width: 960px) {
  .timerGrid {
    width: 100vw;
    text-align: center;
    padding: 0;
  }
  .timerGrid li:nth-child(even) {
    float: none;
  }
  .timerGrid li {margin: 0 20px;}
}